---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const PROJECTS = [
  {
    title: "SigmaSoft - Sistema de Gestión de Módulos Académicos",
    description:
      "Sistema de información y gestión de módulos académicos para mantener el control de módulos integrales. Creado con JavaScript, CSS, PHP, HTML y Bootstrap.",
    link: "https://joseramos.com.co/",
    github: "https://github.com/CarlosLopxz/sigma.git",
    image: "/projects/sigma.webp",
  },
  {
    title: "Galvis Café - Aplicación Web de Venta de Alimentos",
    description:
      "Plataforma orientada a la venta de alimentos y bebidas, enfocada en ofrecer una experiencia de usuario intuitiva y eficiente. La plataforma permite a los usuarios explorar productos, realizar pedidos y gestionar sus compras de manera sencilla.",
    link: "https://galvislajagua.comeya.xyz/",
    image: "/projects/lajagua.webp",
  },
  {
    title: "Cardenals - Aplicación Web de Reservaciones de Hotelería",
    description:
      "Aplicación web diseñada para gestionar reservaciones en hoteles, ofreciendo funcionalidades para seleccionar fechas, tipos de habitación y realizar reservaciones de manera intuitiva y rápida. Creada con tecnologías modernas para garantizar una experiencia de usuario óptima.",
    image: "/projects/cardenals.webp",
  },
  {
    title: "Sistema de Gestión Hotelera - Inventarios y Habitaciones",
    description:
      "Sistema diseñado para la gestión de inventarios, clientes y habitaciones en hoteles. Incluye funcionalidades como facturación y reportes administrativos, optimizando las operaciones internas de la empresa.",
      link:"https://hotel.comeya.xyz/",
    github: "https://github.com/CarlosLopxz/hotel.comeya.xyz.git",
    image: "/projects/hotel.webp",
  },
  {
    title: "Constructura - Sistema de Inventarios de Vehículos Pesados",
    description:
      "Plataforma desarrollada para gestionar inventarios de vehículos y maquinaria pesada en una constructora. Incluye herramientas para control de existencias, reportes y administración eficiente de recursos.",

    image: "/projects/constructora.webp",
  },
];

---

<div class="flex flex-col gap-y-16">

  <!-- tags, -->
  {
    PROJECTS.map(({ image, title, description,  link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      {/* <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul> */}

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



